<!-- Hero -->
<div class="relative overflow-hidden">
  <!-- Gradients -->
  <div aria-hidden="true" class="flex absolute -top-96 start-1/2 transform -translate-x-1/2">
    <div class="bg-linear-to-r from-green-300/80 to-amber-100 blur-3xl w-100 h-175 rotate-[-60deg] transform -translate-x-40"></div>
    <div class="bg-linear-to-tl from-green-70 via-green-100 to-green-70 blur-3xl w-[1440px] h-200 rounded-fulls origin-top-left -rotate-12 -translate-x-60"></div>
  </div>
  <!-- End Gradients -->

  <div class="relative z-10">
    <div class="max-w-[85rem] mx-auto px-4 sm:px-6 lg:px-8 py-10 lg:py-16">
      <div class="max-w-2xl text-center mx-auto">
        <p class="inline-block text-sm font-medium bg-clip-text bg-linear-to-l from-blue-600 to-violet-500 text-transparent">
          <!-- Preline: A vision for 2023 -->
        </p>

        <!-- Title -->
        <div class="mt-5 max-w-2xl">
          <h1 class="mb-4 text-4xl font-extrabold leading-none tracking-tight !text-gray-900 md:text-5xl lg:text-6xl dark:text-white text-balance">Расширенный курс <span class="text-transparent bg-clip-text bg-gradient-to-r to-emerald-600 from-sky-400">СОЗО</span></h1>
        </div>
        <!-- End Title -->

        <div class="mt-5 max-w-3xl">
          <p class="mb-6 text-lg font-normal text-gray-500 lg:text-xl sm:px-16  dark:text-gray-400">Углубите свои знания и практику СОЗО с дополнительными инструментами и подходами</p>
        </div>

        <!-- Buttons -->
        <div class="mt-8 gap-3 flex justify-center">
          <a class="py-3 px-4 inline-flex items-center gap-x-2 text-sm font-medium rounded-lg border border-transparent bg-green-600 text-white hover:bg-green-800 focus:outline-hidden focus:bg-green-800 disabled:opacity-50 disabled:pointer-events-none" href="#">
            Начать сейчас
            <svg class="shrink-0 size-4" xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"><path d="m9 18 6-6-6-6"/></svg>
          </a>
        </div>
        <!-- End Buttons -->
      </div>
    </div>
  </div>
</div>
<!-- End Hero -->

